
@{
                /**/

                ViewBag.Title = "About";
}

<!-- Page Content -->
<div class="container">

    <div class="row">
        <!--Kategoriler-->
        <div class="col-md-3">
            @Html.Partial("_PartialCategories")
        </div>

        <div class="col-md-7 col-md-offset-1">
            <div class="row">
                <h2 class="text-center">
                    Vero ex laoreet aliquyam
                </h2>
                <hr />
                <img src="http://placehold.it/500x200" class="center-block img-responsive img-rounded img-thumbnail"
                     alt="Alternate Text" />
                <hr />
                <p>
                    Nobis sed sit amet zzril lobortis sit minim autem et ea sadipscing magna elitr
                    labore id accusam at tincidunt et stet vero gubergren at sit et duo amet possim
                    amet amet justo et et facilisi
                </p>
                <p>
                    Consetetur in vulputate ut velit dolor consetetur kasd ullamcorper et eos eos
                    justo stet sanctus dolores dolore voluptua ipsum duo in vero at et amet tempor
                    option eos et tempor nulla diam eos invidunt tempor
                </p>
                <p>
                    Justo et diam labore minim tempor augue gubergren tempor feugiat dolor lorem
                    nonumy labore et nonummy sadipscing amet ea stet et ea est tincidunt cum odio
                    accusam amet erat voluptua dolor elitr amet lobortis lorem
                </p>
                <p>
                    Amet elitr elitr vero et magna ipsum tation esse ipsum eirmod ullamcorper
                    vulputate lorem et eirmod luptatum et voluptua sanctus lorem vel illum amet
                    consetetur vero praesent sed diam feugiat est ipsum ipsum veniam nobis
                </p>
                <p>
                    Et sit stet sed et placerat voluptua ut diam delenit kasd magna amet sadipscing
                    et magna feugait diam lorem dolore invidunt hendrerit eros aliquyam vulputate
                    dolor eirmod erat elitr et sed sed gubergren dolores ipsum
                </p>
            </div>
        </div>
    </div>
</div>

@section footer{
    @Html.Partial("_PartialFooter")
}
